// Use this file to style basic, site-wide elements.  Styling that does not
// genereally apply site wide should be done in the _layout.scss file.



/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */

// Apply border-box layout model to all elements, but allow components to change
// if needed.  Source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;

    @include media-query($on-palm) {
      line-height: $base-line-height - .2;
    }
}



/**
 * Set `margin-bottom` for a consistent approach to spacing.  This looks ok
 * most of the time and works as a good default.  Override as needed.
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-bottom: .9em;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    margin-top: .5em;
    color: #999999;
    text-align: center;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}



/**
 * Links
 */
a {

    &,
    &:link,
    &:visited {
      color: $link-color;
      text-decoration: none;
    }

    &:hover {
        color: #f26525;
    }

    &:active {
      color: darken(#f29825, 20%);
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Tables
 */

// I should extract some of this into a trail list specific styling.
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  // Tables overflow their container once the columns can't get any smaller.
  // The media-query below helps avoid this problem in some cases.  However
  // it doesn't look very good, so consider other display options for small
  // screens
  @include media-query($on-laptop) {
    font-size: 14px;
  }

  @include media-query(400px) {
    font-size: 13px;
  }
}

td, th {
  padding: 0.5em;
  text-align: left;

  @include media-query(400px) {
    padding: 0.4em;
  }
}

/* Alternate colors on every other table row for readability */
tbody tr:nth-child(odd) {
  background: $grey-color-light;
}

thead>tr>th {
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

// Decide whether I still want this or not.
tbody>tr>td {
  border-bottom-width: 1px;
  border-bottom-color: $grey-color-light;
  border-bottom-style: solid;
}
